

/********************************************/
/*********FEUILLE DE STYLE - GENERAL*********/
/********************************************/

/****Page****/
body
{
	background:white;
    font-family: 'Raleway', sans-serif;
    margin: 20px 20px 0 20px;
}

/****En-Tête Page***/
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 30px;
}


/****Menu Navigation Desktop****/

.navigation ul
{
    list-style-type: none;
    display: flex;
    font-size: 13px;
}

.navigation li
{
    margin-right: 30px;
    align-self: center;
}

.navigation a
{
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
}

.navigation a:hover
{
    color:  #0065FC;
    border-top: solid #0065FC;  
    padding-top: 10px;
}


.text_blue , .text_blue1
{ 
    color: #0065FC;
    font-weight: bold;
}

.text_blue1
{
    display: none;
    list-style-type: none;
    padding-bottom: 3px;
    text-decoration: none;
}

/****Bloc 0 - Menu Navigation Mobile****/ 
.navigation_mob ul 
{
    list-style-type: none;
    display: flex;
    font-size: 13px;
}

.navigation_mob a
{
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
}

.navigation_mob li:hover
{
    color:  #0065FC;
    border-bottom: solid #0065FC;  
    padding-bottom: 20px;
}

.navigation_mob li a:hover
{
    color:  #0065FC;
}    

.navigation_mob
{
    margin-top: 30px;
    display: none;
}

.et0
{
    margin-left: -30px;
}


/****Bloc 1****/
.et1
{
    margin-left: 30px;
}


/****Bloc 2****/
.et2
{
    display: flex;
    margin-left: 30px;
    align-items: stretch;
}

.et2 a
{
    vertical-align: middle;
}

.et2 i
{
    background: #F2F2F2 ;
    padding: 10px 20px;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px;
}

.et2 input
{
    border-style: solid;
    border-color:#F2F2F2 ;
}

 
.bouton_rechercher
{
    background-color: #0065FC;
    Color:white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer; 
    text-decoration: none;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
}

.bouton_rechercher1
{
    display: none;
    background-color: #0065FC;
    Color:white;
    font-weight: bold;
    padding: 4px 4px;
    border-radius: 3px;
    cursor: pointer; 
    text-decoration: none;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
}

.bouton_rechercher1 i
{
    background-color: #0065FC ;
}

/****Bloc 3****/
.et3
{
    display: flex;
    margin-left: 30px;
    align-items: center;
    margin-top: 20px;
}

.et3 p
{
    font-weight: bold;
}

a 
{
    color:#000;
}

p 
{
    padding: 0 10px;
}

.bouton-poussoir 
{
    line-height:30px;
    display: inline-block;
    background: white;
    text-decoration: none;
    color: #fff !important;
    position: relative;
    padding: 0 10px 0 0;
    border: 2px solid #e2e2e2;
    border-left: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    margin-left: 40px;
}

.bouton-poussoir :hover
{
    color: #0065FC;
}

.eco:before
{
  content:"\f53a";
  font-family: "Font Awesome 5 Free";
}

.fam:before
{
  content:"\f1ae";
  font-family: "Font Awesome 5 Free";
}

.rom:before
{
  content:"\f004";
  font-family: "Font Awesome 5 Free";
}

.ani:before
{
  content:"\f6d3";
  font-family: "Font Awesome 5 Free";
}

.bouton-poussoir:before {
    color:#0065fc;
    background: #DEEBFF;
    font-size: 1.1em;
    width: 35px;
    margin: -2px 10px -2px -15px;
    display: inline-block;
    height: 100%;
    text-align: center;
    border-radius: 30px;
    line-height:36px;
}


/****Bloc 4****/
.et4
{
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.fa-info
{
    color: #0065fc;
    margin-left: -19px;
}

.fa-circle
{
    color: #F2F2F2;
}

.et4 p
{
    margin-left : 10px
}

/****Corps 1 - Corps 2****/
.c1c2
{
    display: flex;
}

.titre_image
{
    font-weight: bold;
    font-size: 15px;
}

.soustitre_image
{
    font-size: 14px;
}


/****Corps 1****/
.c1
{ 
    background-color: #F2F2F2; /*Couleur de fond*/
    border-radius: 20px; /*Arrondi angles fond*/
    margin-left: 30px;
    width: 60%;
    margin-right: 2%; /*Marge à droite 2%  */ 
    padding: 0px 55px;
}   

.c1 h3
{
    padding-bottom: 20px;
}


.c1_images
{
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-gap: 37px;
}

.c1_images .h3
{
    justify-content: start;
}


/****Marge inter lignes****/
.c1_images>* 
{
    margin: 0 0 37px 0; /* meme valeur que column-gap */
}


.img_c1  
{
    border:5px solid white;
    background-color: white;
    border-radius: 10px;
    height: auto;
    box-shadow: 0px 7px 7px  #e2e2e2;
}


.img_c1 .p , .etoiles
{
    padding-left: 10px;
    margin-bottom: 10px;
}


.im1, .im2, .im3, .im4, .im5, .im6
{
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    width: 100%;
}

.afficher_plus
{
    font-weight: bold;
}


/****Corps 2****/
.c2
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 34%;
}

.c2_images
{
    margin-left: 30px;
    margin-right: 30px;
    width: Auto;
}
.c2 h3
{
    margin-left: 20px;
}

.populaire
{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 50px;
}

.populaire i
{
    position: fixed right;
}

.img_c2
{
    border: 5px solid white;
    background-color: white;
    border-radius: 10px;
    display: flex;
    width: auto;
    box-shadow: 0px 7px 7px  #e2e2e2;
}

.im7, .im8, .im9
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    margin-bottom: -4px;
}

.l7, .l8, .l9
{
    padding-left: 10px;
    position: relative;
    background-color: white;
}

/****Marge inter lignes****/
.c2_images>* 
{
    margin: 20px;
}

.notation
 {
    position: absolute;
    bottom: 15px ;
    margin-left : 10px     
 }


/****Corps3****/
.c3
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-auto-flow: column;
    width : 98%;
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 50px;
}

#ancre_activites
{
    margin-left: 30px;
}

.c3 p
{
    padding: 0 10px;
    font-weight: bold;
}
.item_a 
{
    grid-column: 1;
    grid-row: 1 / 3;
}
.item_b 
{
    grid-column: 2;
    grid-row: 1 / 1;
}

.item_c 
{
    grid-column: 2;
    grid-row: 2;    
}

.item_d 
{
    grid-column: 3;
    grid-row: 1 / 3;    
}
.item_e 
{
    grid-column: 4;
    grid-row: 1 / 1;    
}
.item_f 
{
    grid-column: 4;
    grid-row: 2;    
}

.item_a, .item_b,.item_c,.item_d,.item_e,.item_f 
{
    border-radius: 10px;
    box-shadow: 0px 7px 7px  #e2e2e2;
    width : auto;
    margin : 0 0 1.5em;
}


.titre_item
{
    position: absolute;
    background-color: white;
}

.im11, .im12 , .im14, .im15
{
    width : 100%;
    height: 80%;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    object-fit: cover;    
}

.im10 , .im13
{
    width : 100%;
    height: 90%;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    object-fit: cover;  
}

/****Pied de Page****/
footer
{
    display: flex;
    background-color: #F2F2F2;
    height: 200px;
    font-size: 15px; 
    margin-left: -20px;
    margin-right: -20px;
}

.a_propos
{
    padding-top: 30px;    
    margin-left: 30px; 
}

.nos_hebergements
{
    padding-top: 30px;  
    margin-left: 350px;  
}

.assistance
{
    padding-top: 30px;  
    margin-left: 350px;    
}

.liste_a_propos, .liste_nos_hebergements, .liste_assistance
{
    line-height: 30px;
    list-style: none;
    padding-left: 0px;  
}


/****Liens****/
a:link 
{ 
    text-decoration: none; 
}



/*********************************************************/
/************FEUILLE DE STYLE - MEDIA QUERIES*************/
/*********************************************************/

    @media screen and (min-width: 1600px) and (max-width: 1800px)
    {

        /****Corps 1 - Corps 2****/
        .c1c2
        {
            flex:1;
        }
        /****Corps 1****/
        .c1
        {
            width: 60%;        
        }


        /****Corps 2****/
        .c2
        {
            width: 40%;
        }

        /****Corps 3****/
        .c3
        {
    
            width: 98%;
        }
     
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px)
    {

        /****Corps 1 - Corps 2****/
        .c1c2
        {
            flex:1;
        }

        /****Corps 1****/
        .c1
        {
            width: 50%;
        }

        .c1_images
        { 
            column-count: 2;
        }

        /****Corps 2****/
        .c2
        {
            width: 50%;
        }

        /****Corps 3****/
        .c3
        {
            width: 98%;
        }
     
    }

    @media screen and (min-width: 1080px) and (max-width: 1200px)
    {

        /****Corps 1****/
        .c1
        {
            width: 40%;
            
        }

        .c1_images
        {
            column-count: 1;
        }

        /****Corps 2****/
        .c2
        {
            width: 60%;
        }

        /****Corps 3****/
        .c3
        {
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           grid-template-rows: 300px 300px;
           width : 97%;
           padding-left: 30px;
           margin-top: 40px;
           margin-bottom: 40px;
           gap: 50px;
        }
   
        .item_a 
        {
           grid-column: 1;
           grid-row: 1 ;
        }
   
        .item_b 
        {
           grid-column: 2;
           grid-row: 1;
        }
   
        .item_c 
        {
           grid-column: 3;
           grid-row: 1;    
        }
   
        .item_d 
        {
           grid-column: 1;
           grid-row: 2;    
        }
        .item_e 
        {
           grid-column: 2;
           grid-row: 2;    
        }
        .item_f 
        {
           grid-column: 3;
           grid-row: 2;    
        }
   
        .item_a, .item_b,.item_c,.item_d,.item_e,.item_f 
        {
           border-radius: 10px;
           box-shadow: 0px 7px 7px  #e2e2e2;
           width : auto;
           margin : 0 0 1.5em;
        }
   
        .titre_item
        {
           position: absolute;
           background-color: white;
        }
   
        .im10, .im11, .im12 , .im13, .im14, .im15
        {
           width : 100%;
           height: 80%;
           border-top-left-radius:10px;
           border-top-right-radius: 10px;
           object-fit: cover;    
        }

        /****Pied de Page****/    
        .a_propos
        {
            margin-left: 30px
        }

        .nos_hebergements, .assistance
        {
            margin-left: 150px
        }
 

    }


    @media screen and (min-width: 600px) and (max-width: 1080px)
    {

    
        /****Bloc 3****/
        .et3 
        {
            flex-direction: row;
            flex-flow: wrap;
        }

    
        /****Corps 1 - Corps2****/
        .c1c2
        {
            flex-direction: column;
            flex-flow: column-reverse;
        }


        /****Corps 1****/
        .c1
        {
            width: auto;
            margin-bottom: 20px;
            background-color: #F2F2F2;
            margin: 0 0 0 0;
        }

        .c1_images
        {
            column-count: 2;
        }

        .img_c1
        {
            background-color: white;
            border-radius: 10px;
            width: auto;
        }
    

        /****Corps 2****/
        .c2 
        {
            width: 100%;
            margin-left: 0;
            margin-bottom: 20px;
            border-radius: 30px;        
        }

 
        /****Corps 3****/    
        .c3
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-left: -15px;
            padding-left: 30px;
            margin-top: 40px;
            margin-bottom: 40px;
            gap: 30px;
        }


        .item_a 
        {
            grid-column: 1;
            grid-row: 1 ;
        }

        .item_b 
        {  
            grid-column: 2;
            grid-row: 1;
        }

        .item_c 
        {
            grid-column: 1;
            grid-row: 2;    
        }

        .item_d 
        {
            grid-column: 2;
            grid-row: 2;    
        }
        .item_e 
        {
            grid-column: 1;
            grid-row: 3;    
        }
        .item_f 
        {
            grid-column: 2;
            grid-row: 3;    
        }

        .item_a, .item_b,.item_c,.item_d,.item_e,.item_f 
        {
            border-radius: 10px;
            box-shadow: 0px 7px 7px  #e2e2e2;
            width : auto;
            margin : 0 0 1.5em;
            height: 300px;
        }

        .titre_item
        {
            position: absolute;
            bottom : 0;
            background-color: white;
        }

        .im10, .im11, .im12 , .im13, .im14
        {
            width : 100%;
            height: 80%;
            border-top-left-radius:10px;
            border-top-right-radius: 10px;
            object-fit: cover;    
        }

        .im14, .im15
        {
            width : 100%;
            height: 80%;
            border-top-left-radius:10px;
            border-top-right-radius: 10px;
            object-fit: cover;    
        }

   
        /****Pied de Page****/ 
        footer
        {
            display: flex;
            flex-direction: column;
            height: auto;     
        }

        .nos_hebergements , .a_propos, .assistance
        {
            margin-left: 30px;
        }

    }


    
    @media only screen and (max-width: 600px)
    {     
        /****Page****/
        body 
        {
            margin :0;
        }

        /****En-tête****/
        .logo
        {
            margin-left: -20px;
        }

        header 
        {
            display: flex;
            flex-wrap: wrap;  
        }
         
        /**** Menu Navigation****/

        .navigation_mob
        {
            display: block;                 
            text-align: center;
        }

        .navigation_mob ul li
        {
            width: 50%;
            border-bottom: solid #F2F2F2; 
            padding-bottom: 20px;  
        }

        .navigation_mob ul li a 
        {
            display: block;
        }

        .navigation
        {
            display: none;
        }
         
        .text_blue
        {
            display: none;
        }
     
        .text_blue1
        {
            display: grid;
            align-self: center;
            margin-right: 10px;
        }

        /****Bloc 1****/
        .et1
        {
            margin-top :30px;
        }

           
        .et1 , .et2, .et3, .et4
        {
            margin-left: 10px;
        }  

        /****Bloc 2****/
        .et2
        {
            margin-top: 30px;
        }
        
        /****Bloc 3****/
        .et3
        {
            display: block;
            margin-top: 30px;
        }

        .bouton_rechercher
        {
            display: none;
        }
     
        .bouton_rechercher1
        {
            display: block;
        }

        /****Corps 1 - Corps2****/
        .c1c2
        {
            flex-direction: column;
            flex-flow: column-reverse;
        }
     
        /****Corps 1****/     
        .c1
        {   width: 100%;
            background-color: white;
            border-radius: 0;
            padding: 0;
            margin-left: 0;
            margin-right: 0;
        }

        .c1_images
         {
            column-count: 1;
            margin-left: -10px;
         }

        .afficher_plus
        {
            margin-left: 20px;
        }

        #ancre_hebergements
        {
            margin-left: 30px;
        }

        .img_c1
        {
            width: 85vw;
            height : auto;
            margin-left: 30px;
            background-color: white;
            box-shadow: 0px 7px 7px #e2e2e2;
        }
     
        .im1, .im2, .im3, .im4, .im5, .im6
        {
            width: 100%;
            object-fit: cover;
        }
     
        /****Corps 2****/
        .c2
        {
            width: 100%;
            border-radius: 0;
            margin-top: 30px;
        }

        .img_c2
        {
            width: 100%;
            margin-left: 0;
            background-color: white;
        }

        .c2_images
        {
            margin-left: 20px;
        }

        .img_c2 > a 
        {
            height : 30vw;
        }
       
        .im7, .im8, .im9
        {
            width: 30vw;
            height: 30vw;
        }

        .populaire
        {
            margin-left: 10px;
        }

        .notation
        {
            bottom: 2px;        
        }

        .titre_image
        {
            margin-top: 5px;
        }

        /****Corps 3****/
        .c3
        {
            width: auto;
            display:flex;
            flex-wrap: wrap;
            padding-left: 25px;
        }
     
        .item_a 
        {
            grid-column: 1;
            grid-row: 1;
            background-color: white;
        }
     
        .item_b 
        {
            grid-column: 1;
            grid-row: 2; 
            background-color: white;
        }
     
        .item_c 
        {
            grid-column: 1;
            grid-row: 3;
            background-color: white;    
        }
     
        .item_d 
        {
            grid-column: 1;
            grid-row: 4 ;
            background-color: white;    
        }
     
        .item_e
        {
            grid-column: 1;
            grid-row: 5 ;
            background-color: white;    
        }
     
        .item_f
        {
             grid-column: 1;
             grid-row: 6 ;
             background-color: white;    
        }
     
        .item_a, .item_b, .item_c, .item_d, .item_e, .item_f
        {
             width: 85vw;
             height: 45vw;
        }
             
         .im10, .im11, .im12 , .im13, .im14, .im15
        {
             width : 100%;
             height: 70%;
             border-top-left-radius:10px;
             border-top-right-radius: 10px;
             object-fit: cover;    
        }

        
        /****Pied de Page****/ 
        footer
        {
            display: flex;
            flex-direction: column;
            height: auto;     
        }

        .nos_hebergements , .a_propos, .assistance
        {
            margin-left: 30px;
        }
     
             
    } 




  





       




