

/****Page****/
body
{
	background:white;
    font-family: 'Raleway', sans-serif;
}

/****En-Tête Page***/
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 30px;
    /*font-family: 'Raleway';*/
}


/****Menu Navigation****/

nav ul
{
    list-style-type: none;
    display: flex;
    font-size: 13px;
}

nav li
{
    margin-right: 30px;
    align-self: center;
}

nav a
{
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color:  #0065FC;
    border-top: solid #0065FC;  
    padding-top: 10px;
}


.text_blue , .text_blue1
{ 
    color: #0065FC;
    font-weight: bold;
}

.text_blue1
{
    display: none;
    list-style-type: none;
    /*font-size: 13px;*/
    padding-bottom: 3px;
    text-decoration: none;
}

.text_blue2
{
    margin-right: 50px;
    align-self: center;
    color: #0065FC;
    font-weight: bold;
}


/****Bloc 1****/
.et1
{
    margin-left: 30px;
}


/****Bloc 2****/
.et2
{
    display: flex;
    margin-left: 30px;
    align-items: stretch;
}

.et2 a
{
    vertical-align: middle;
}

.et2 i
{
    background: #F2F2F2 ;
    padding: 10px 20px;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px;
    align-items: center;
}

.et2 input
{
    border-style: solid;
    border-color:#F2F2F2 ;
}

 
.bouton_rechercher
{
    background-color: #0065FC;
    Color:white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer; 
    /*box-shadow: 0 8px 16px 0 grey;*/
    text-decoration: none;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
}

.bouton_rechercher1
{
    display: none;
    background-color: #0065FC;
    Color:white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer; 
    /*box-shadow: 0 8px 16px 0 grey;*/
    text-decoration: none;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
}

/****Bloc 3****/
.et3
{
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.et3 p
{
    font-weight: bold;
}

/*.ET3 a
{
    font-weight: bold;
    text-decoration: none;
}*/

/*.Bouton-poussoir
{*/
    /*height: 1.5em;*/
 /*   display: inline-block;
    background: white;
    text-decoration: none;
    color:#fff !important;
    position: relative;
    padding:0.5em 1.5em;
    border: solid #F2F2F2;
    border-left: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    margin-left: 2em;
}*/

/*.Bouton-poussoir a span 
{
    background: #DEEBFF;
    font-size: 1.1em;
    width:1.9em;
    left: -1.0em;    
    position: absolute;
    display: block;
    height:100%;
    top: -0.15em;    
    text-align: center;
    border-radius: 30px;
    border: solid #F2F2F2;  
}*/
/*
.Bouton-poussoir a span i
{
    padding-top: .4em;    
}*/

a {color:#000;}

p {
    padding: 0 10px;
}

.bouton-poussoir {
    line-height:30px;
    display: inline-block;
    background: white;
    text-decoration: none;
    color: #fff !important;
    position: relative;
    padding: 0 10px 0 0;
    border: solid #F2F2F2;
    border-left: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    margin-left: 40px;
}

.bouton-poussoir :hover
{
    color: #0065FC;
}


.eco:before{
  content:"\f53a";
  font-family: "Font Awesome 5 Free";
}

.fam:before{
  content:"\f1ae";
  font-family: "Font Awesome 5 Free";
}

.rom:before{
  content:"\f004";
  font-family: "Font Awesome 5 Free";
}

.ani:before{
  content:"\f6d3";
  font-family: "Font Awesome 5 Free";
  /*color:blue;*/
}

.bouton-poussoir:before {
   color:#0065fc;
    background: #DEEBFF;
    font-size: 1.1em;
    width: 35px;
    margin: -2px 10px -2px -15px;
    display: inline-block;
    height: 100%;
    text-align: center;
    border-radius: 30px;
    line-height:35px;
}


/****Bloc 4****/
.et4
{
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.et4 p
{
    margin-left : 10px
}

/****Corps 1 - Corps 2****/
.c1c2
{
    display: flex;
}

.titre_image
{
    font-weight: bold;
    font-size: 15px;
}
.soustitre_image
{
    font-size: 14px;
}


/****Corps 1****/
.c1
{ 
    background-color: #F2F2F2; /*Couleur de fond*/
    border-radius: 20px; /*Arrondi angles fond*/
    margin-left: 30px;
    width: 60%;
    margin-right: 2%; /*Marge à droite 2%  */ 
    /*padding-left: 30px; */ 
    /*padding-right: 30px;*/
}   

.c1 h3
{
    margin-left: 65px;
}


.c1_images
{
    display: flex;
    flex-wrap: wrap; 
    /*justify-content: space-around; */ 
}

.c1_images .h3
{
    justify-content: start
}


/*Marge inter lignes*/
.c1_images>* 
{
    margin: 0 0 20px 0;
}


.img_c1  
{
    border:5px solid white;
    background-color: white;
    border-radius: 10px;
    height: auto;
    margin-left: 65px;
}


.img_c1 .p , .etoiles
{
    padding-left: 10px;
    margin-bottom: 10px;
}


.im1, .im2, .im3, .im4, .im5, .im6
{
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.afficher_plus
{
    margin-left: 65px;
    font-weight: bold;
}



/****Corps 2****/
.c2
{
    background-color: #F2F2F2; /*Couleur de fond*/
    border-radius: 20px; /*Arrondi angles fond*/
    /*margin-left: 30px;*/ /*E*/
    width: 34%;
    /*padding-left: 30px;*/ /*E*/
    /*padding-right: 30px;*/ /*E*/
}

.c2_images
{
    margin-left: 30px;
    margin-right: 30px;
    width: Auto;
}
.c2 h3
{
    margin-left: 20px;
}
.populaire
{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 50px;
}

.populaire i
{
    position: fixed right;
    /*padding-right: 2em;*/
    
}

.img_c2
{
   border: 5px solid white;
    background-color:khaki;
    border-radius: 10px;
    display: flex;
    width: auto;
}

.im7, .im8, .im9
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.l7, .l8, .l9
{
    padding-left: 10px;
    position: relative;
    background-color: lawngreen;
}

/****Marge inter lignes****/
.c2_images>* 
{
    /*flex: 1 1 160px;*/
    margin: 20px;
}

.notation
 {
     position: absolute;
     bottom: 15px ;
     margin-left : 10px     
 }


/*.C1_Images>*,.C2_Images>*,.C3_Images>*
{
    margin : 10px 20px 20px 0;
}*/


/****Corps3****/
.c3
{
    display: grid;
    /*grid-template-columns: 23% 23% 23% 23%;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-auto-flow: column;
    /*margin-left: 30px;*/
    width : 96%;
    /*height: 500px;*/
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 50px;
}

#ancre_activites
{
    margin-left: 30px;
}

.c3 p
{
    padding: 0 10px;
    font-weight: bold;
}
.item_a 
{
    grid-column: 1;
    grid-row: 1 / 3;
}
.item_b 
{
    grid-column: 2;
    grid-row: 1 / 1;
}

.item_c 
{
    grid-column: 2;
    grid-row: 2;    
}

.item_d 
{
    grid-column: 3;
    grid-row: 1 / 3;    
}
.item_e 
{
    grid-column: 4;
    grid-row: 1 / 1;    
}
.item_f 
{
    grid-column: 4;
    grid-row: 2;    
}

.item_a, .item_b,.item_c,.item_d,.item_e,.item_f 
{
    border-radius: 10px;
    box-shadow: 0px 7px 7px  #F2F2F2;
    width : auto;
    margin : 0 0 1.5em;
}


.titre_item
{
    position: absolute;
    /*bottom : 0;*/
    background-color: white;
}

.im11, .im12 , .im14, .im15
{
    width : 100%;
    height: 80%;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    object-fit: cover;    
}

.im10 , .im13
{
    width : 100%;
    height: 90%;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    object-fit: cover;  
}




/*******************************************/
/* Pied de Page*/
footer
{
    display: flex;
    background-color: #F2F2F2;
    height: 200px;
    font-size: 15px; 
}

.a_propos
{
    padding-top: 30px;    
    /*background-color:  red; */
    margin-left: 30px; 
}

.nos_hebergements
{
    padding-top: 30px;  
    /*background-color:  green;*/
    margin-left: 350px;  
}

.assistance
{
    padding-top: 30px;  
    /*background-color:  Blue;*/
    margin-left: 350px;    
}

.liste_a_propos, .liste_nos_hebergements, .liste_assistance
{
    line-height: 30px;
    list-style: none;
    padding-left: 0px;  
}
/***********************************************/


/****Liens****/
a:link 
{ 
 text-decoration:none; 
}



/*********************************************************/
/******************Media query****************************/

@media screen and (min-width: 1600px) and (max-width: 1800px)
{

    .c1c2
    {
        flex:1;
    }
    /****Corps 1****/
    .c1
    {
        width: 60%;        
    }


    /****Corps 2****/
    .c2
    {
        width: 40%;
    }

    /****Corps 3****/
    .c3
    {
    
        width: 98%;*/
    }
     
}

@media screen and (min-width: 1450px) and (max-width: 1600px)
{
    /**** Corps 1 - Corps 2****/
    /*.c1c2
    {
        flex-direction: column;
        flex-flow: column-reverse;
        
    }*/

    .c1c2
    {
        flex:1;
    }

    /****Corps 1****/
    .c1
    {
        /*width: 30%;*/
        width: 50%;
        /*margin-left: 0;      */
    }

    /*.c1_images
    {
        justify-content: space-around;
    }*/

    /*.img_c1
    {
        width: 50%;
    }
    .im1
    {
        width: 100%;
    }*/
 


    /****Corps 2****/
    .c2
    {
        width: 50%;
        /*margin-bottom: 30px; */              
    }

    /****Corps 3****/
    .c3
    {
        width: 98%;
    }
     
}

@media screen and (min-width: 980px) and (max-width: 1450px)
{

    .c1
    {
        width: 40%;
    }

    .c2
    {
        width: 60%;
    }
    /*.img_c1
    {
        width: 1;
    }*/

    .c3
    {
        width: 98%;
    }   

       /****Corps 3****/
    
       .c3
       {
           display: grid;
           /*grid-template-columns: 23% 23% 23% 23%;*/
           grid-template-columns: 1fr 1fr 1fr;
           grid-template-rows: 300px 300px;
           /*grid-auto-flow: row;*/
           /*margin-left: 30px;*/
           width : 97%;
           /*height: 500px;*/
           padding-left: 30px;
           margin-top: 40px;
           margin-bottom: 40px;
           gap: 50px;
       }
   
       .item_a 
       {
           grid-column: 1;
           grid-row: 1 ;
       }
   
       .item_b 
       {
           grid-column: 2;
           grid-row: 1;
       }
   
       .item_c 
       {
           grid-column: 3;
           grid-row: 1;    
       }
   
       .item_d 
       {
           grid-column: 1;
           grid-row: 2;    
       }
       .item_e 
       {
           grid-column: 2;
           grid-row: 2;    
       }
       .item_f 
       {
           grid-column: 3;
           grid-row: 2;    
       }
   
       .item_a, .item_b,.item_c,.item_d,.item_e,.item_f 
       {
           border-radius: 10px;
           box-shadow: 0px 7px 7px  #F2F2F2;
           width : auto;
           margin : 0 0 1.5em;
       }
   
   
       .titre_item
       {
           position: absolute;
           /*bottom : 0;*/
           background-color: white;
       }
   
       .im10, .im11, .im12 , .im13, .im14, .im15
       {
           width : 100%;
           height: 80%;
           border-top-left-radius:10px;
           border-top-right-radius: 10px;
           object-fit: cover;    
       }
    
    .a_propos
    {
        margin-left: 30px
    }

    .nos_hebergements, .assistance
    {
        margin-left: 150px
    }

    

 }


@media screen and (min-width: 500px) and (max-width: 980px)
{

    
    /****Bloc 3****/
    .et3 
    {
        flex-direction: row;
        flex-flow: wrap;
    }

    

    /****Corps 1 - Corps2****/
    .c1c2
    {
        flex-direction: column;
        flex-flow: column-reverse;
    }


 
    /****Corps 1****/
    .c1
    {
        width: auto ;
        margin-bottom: 20px;
        background-color: #F2F2F2;
        margin: 0 0 0 0 ;
    }

 
    .img_c1
    {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 7px 7px  #F2F2F2;
        width: auto;
    }
    

     /****Corps 2****/
    .c2 
    {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
        border-radius: 30px;
        
    }


    /****Corps 3****/
    
    .c3
    {
        display: grid;
        /*grid-template-columns: 23% 23% 23% 23%;*/
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px;
        /*grid-auto-flow: row;*/
        /*margin-left: 30px;*/
        width : 96%;
        /*height: 500px;*/
        padding-left: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 50px;
    }

    .item_a 
    {
        grid-column: 1;
        grid-row: 1 ;
    }

    .item_b 
    {
        grid-column: 2;
        grid-row: 1;
    }

    .item_c 
    {
        grid-column: 3;
        grid-row: 1;    
    }

    .item_d 
    {
        grid-column: 1;
        grid-row: 2;    
    }
    .item_e 
    {
        grid-column: 2;
        grid-row: 2;    
    }
    .item_f 
    {
        grid-column: 3;
        grid-row: 2;    
    }

    .item_a, .item_b,.item_c,.item_d,.item_e,.item_f 
    {
        border-radius: 10px;
        box-shadow: 0px 7px 7px  #F2F2F2;
        width : auto;
        margin : 0 0 1.5em;
    }


    .titre_item
    {
        position: absolute;
        /*bottom : 0;*/
        background-color: white;
    }

    .im10, .im11, .im12 , .im13, .im14, .im15
    {
        width : 100%;
        height: 80%;
        border-top-left-radius:10px;
        border-top-right-radius: 10px;
        object-fit: cover;    
    }

    /*.im10 , .im13
    {
        width : 100%;
        height: 90%;
        border-top-left-radius:10px;
        border-top-right-radius: 10px;
        object-fit: cover;  
    }*/

    
     /**** Footer****/
     footer
     {
         display: flex;
         flex-direction: column;
         height: auto;     
     }

     .nos_hebergements , .a_propos, .assistance
     {
         margin-left: 30px;
     }




     @media screen and (max-width: 500px)
    
     {     
         header 
         {
             display: flex;
             flex-wrap: wrap;  
         }
         
         /*Navigation*/
         
         nav
         {
             width: auto;
             text-align: left;
         }
                
         nav li
         {
             padding-left: 4px;
             padding-top: 20px;
         }
                        
         nav a:hover
         {
             color:  #0065FC;
             border-top: none;
             border-bottom: solid #0065FC; 
             padding-bottom: 20px;
         }

         .menu
         {
             padding-left: 0;
         }
    
         .text_blue
         {
             display: none;
         }
     
         .text_blue1
         {
             display: grid;
             align-self: center;
         }
         
         /*nav li
         
             display: inline-block;
         }*/

         /*nav ul li        
         {            
             border-bottom: solid #F2F2F2;
             padding-bottom: 20px;
             margin-left: 0;
         }*/

         .heberg
         {
            border-bottom: solid #F2F2F2;
            padding-bottom: 20px;
            margin-left: 0;
            width: 1000px;
            text-align: center;
         }

         .activ
         {
            border-bottom: solid #F2F2F2;
            padding-bottom: 20px;
            margin-left: 90px;  
            width: 1000px;
            text-align: center;
        
        }

            
         .bouton_rechercher
         {
             display: none;
         }
     
         .bouton_rechercher1
         {
             display: block;
         }
     
         /*Corps 1*/
     
         .c1
         {
             display: grid;
         }

         #ancre_hebergements
         {
            margin-left: 30px;
         }

         .img_c1
         {
             width: 400px;
             height: 260px;
             margin-left: 30px;
             background-color: khaki;
         }
     
         .im1, .im2, .im3, .im4, .im5, .im6
         {
             width: 400px;
             object-fit: cover;
         }
     
         /*Corps 2*/
         .img_c2
         {
             width: 400px;
             /*height: 260px;*/
             margin-left: 0;
             background-color: khaki;
         }
         
       
         /* Corps 3*/
         .c3
         {
             display:grid ;
             /*flex-wrap: wrap;*/
             grid-template-rows: min-content min-content min-content min-content min-content min-content;
             gap: 30px;
         }
     
                 /*.item-a 
         {
             grid-column-start: 1;
             grid-column-end: 1;
             grid-row-start: 1;
             grid-row-end: 1;
             width: 250px;
             height: 200px;
             object-fit: cover;
         }*/
         .item_a 
         {
             grid-column: 1;
             grid-row: 1;
             background-color: khaki;
         }
     
         
        /* .item-b 
         {
             grid-column-start: 1;
             grid-column-end: 1;
             grid-row-start: 2;
             grid-row-end: 2;
             width: 250px;
             height: 200px;
             object-fit: cover;        
         }*/
         .item_b 
         {
             grid-column: 1;
             grid-row: 2; 
             background-color: khaki;
         }
     
         /*.item-c 
         {
             grid-column-start: 1;
             grid-column-end: 1;
             grid-row-start: 3;
             grid-row-end: 3; 
             width: 250px;
             height: 200px;
             object-fit: cover;       
         }*/
         .item_c 
         {
             grid-column: 1;
             grid-row: 3;
             background-color: khaki;    
         }
     
         /*.item-d 
         {
             grid-column-start: 1;
             grid-column-end: 1;
             grid-row-start: 4;
             grid-row-end: 4;  
             width: 250px;
             height: 200px;
             object-fit: cover;      
         }*/
     
         .item_d 
         {
             grid-column: 1;
             grid-row: 4 ;
             background-color: khaki;    
         }
     
         /*.item-e 
         {
             grid-column-start: 1;
             grid-column-end: 1;
             grid-row-start: 5;
             grid-row-end: 5; 
             width: 250px;
             height: 200px;
             object-fit: cover;       
         }*/
     
         .item_e
         {
             grid-column: 1;
             grid-row: 5 ;
             background-color: khaki;    
         }
     
         /*.item-f 
         {
             grid-column-start: 1;
             grid-column-end: 1;
             grid-row-start: 6;
             grid-row-end: 6;
             width: 250px;
             height: 200px;
             object-fit: cover;
         }*/
     
         .item_f
         {
             grid-column: 1;
             grid-row: 6 ;
             background-color: khaki;    
         }
     
         .item_a, .item_b, .item_c, .item_d, .item_e, .item_f
         {
             width: 400px;
             height: 200px;
         }
             
         .im10, .im11, .im12 , .im13, .im14, .im15
         {
             width : 100%;
             height: 70%;
             border-top-left-radius:10px;
             border-top-right-radius: 10px;
             object-fit: cover;    
         }
     
             
     } 


}

  





       




